In [23]:
import pandas as pd
import numpy as np
import sklearn as sk
import pickle
from sklearn.neighbors import KNeighborsClassifier
import joblib
import scipy.stats       as sp

In [24]:
KNN_model_Final = joblib.load('./MLmodel/KNN_model.plk')

In [25]:
for i in range(1,21):
    s = "TestData%d = pd.read_csv('TestData/TestData%d', header=None)"%(i,i)
    exec(s)
    
TestData_Label        = np.array(pd.read_csv('TestData/TestData_Label', header=None))
TestData_Label_forANN = np.array(pd.read_csv('TestData/TestData_Label_forANN', header=None))

TestData20.shape # 정상적으로 불러왔다면 (228,4) 출력

(228, 4)

In [26]:
def rms(x): 
    return np.sqrt(np.mean(x**2))

In [32]:
NoOfSensor  = 4
NoOfFeature = 5
NoOfData    = 10

FeatureData_Fault1 = np.zeros((NoOfSensor*NoOfFeature , NoOfData))
FeatureData_Fault2 = np.zeros((NoOfSensor*NoOfFeature , NoOfData))
# 특징추출 코드 작성

for i in range(NoOfData):
    
    s1 = 'temp_data1=TestData%d'%(i+1) 
    s2 = 'temp_data2=TestData%d'%(i+11)
    exec(s1)
    exec(s2)
    for j in range(NoOfSensor):
        
        FeatureData_Fault1[5*j+0, i] = np.max(temp_data1.iloc[:,j])
        FeatureData_Fault1[5*j+1, i] = np.min(temp_data1.iloc[:,j])
        FeatureData_Fault1[5*j+2, i] = np.mean(temp_data1.iloc[:,j])
        FeatureData_Fault1[5*j+3, i] = rms(temp_data1.iloc[:,j])
        FeatureData_Fault1[5*j+4, i] = np.var(temp_data1.iloc[:,j])
        
        FeatureData_Fault2[5*j+0, i] = np.max(temp_data2.iloc[:,j])
        FeatureData_Fault2[5*j+1, i] = np.min(temp_data2.iloc[:,j])
        FeatureData_Fault2[5*j+2, i] = np.mean(temp_data2.iloc[:,j])
        FeatureData_Fault2[5*j+3, i] = rms(temp_data2.iloc[:,j])
        FeatureData_Fault2[5*j+4, i] = np.var(temp_data2.iloc[:,j])

        
print(FeatureData_Fault1.shape) 
print(FeatureData_Fault2.shape) 

FeatureData_Fault1_df = pd.DataFrame(FeatureData_Fault1)
FeatureData_Fault1_df
FeatureData_Fault2_df = pd.DataFrame(FeatureData_Fault2)
FeatureData_Fault2_df

(20, 10)
(20, 10)

,0,1,2,3,4,5,6,7,8,9
0,759.000000,783.000000,828.000000,759.000000,783.000000,831.000000,759.000000,914.000000,784.000000,792.000000
1,712.000000,698.000000,711.000000,718.000000,698.000000,750.000000,712.000000,743.000000,732.000000,716.000000
2,731.254181,725.388060,771.830206,729.153465,725.388060,782.898184,731.254181,836.825660,763.666667,747.714912
3,731.309631,725.559297,772.626624,729.171763,725.559297,783.058659,731.309631,837.474422,763.872881,747.881373
4,81.099272,248.456375,1230.033726,26.684369,248.456375,251.296102,81.099272,1086.220926,315.000000,248.958199
5,763.000000,808.000000,840.000000,763.000000,808.000000,795.000000,763.000000,876.000000,903.000000,826.000000
6,450.000000,453.000000,388.000000,451.000000,453.000000,284.000000,450.000000,550.000000,516.000000,403.000000
7,557.816054,616.985075,716.033959,521.064356,616.985075,409.642726,557.816054,749.166038,745.111111,480.824561
8,559.739858,621.208908,726.499876,522.969430,621.208908,423.734578,559.739858,751.491203,759.796756,487.378343
9,2149.959475,5229.925150,15097.439419,1988.961205,5229.925150,11743.829711,2149.959475,3489.276582,22100.543210,6345.390274
10,69.000000,101.000000,69.000000,101.000000,101.000000,69.000000,69.000000,69.000000,69.000000,69.000000
11,5.000000,1.000000,0.000000,1.000000,1.000000,0.000000,5.000000,68.000000,68.000000,1.000000
12,63.220736,57.636816,54.832887,88.623762,57.636816,62.703734,63.220736,68.564528,68.444444,62.649123
13,65.828067,63.936263,61.123865,90.338911,63.936263,65.555456,65.828067,68.566321,68.446248,65.596989
14,336.473015,765.843222,729.481456,306.947554,765.843222,365.759605,336.473015,0.245836,0.246914,378.052324
15,711.000000,709.000000,746.000000,710.000000,709.000000,803.000000,711.000000,650.000000,671.000000,738.000000
16,516.000000,488.000000,468.000000,516.000000,488.000000,496.000000,516.000000,447.000000,431.000000,477.000000
17,645.222408,607.965174,545.302949,667.851485,607.965174,732.022648,645.222408,524.685283,528.000000,691.934211
18,645.881455,609.665560,550.670483,668.424296,609.665560,734.791362,645.881455,525.988903,536.071720,693.697198
19,850.898695,2070.441573,5882.674084,765.433389,2070.441573,4061.188428,850.898695,1369.679821,8588.888889,2442.850935

In [33]:
NoOfData    = int(FeatureData_Fault1_df.shape[1])  # 데이터 개수
NoOfFeature = int(FeatureData_Fault1_df.shape[0])  # 특징 개수
P_value = np.zeros((NoOfFeature , 2))
for i in np.arange(NoOfFeature):
    
    T_test       = np.array(sp.ttest_ind(FeatureData_Fault1_df.iloc[i,:] , FeatureData_Fault2_df.iloc[i,:]))
    P_value[i,0] = i          # Feature Index
    P_value[i,1] = T_test[1]  # P값 (P-value)
    
P_value      = pd.DataFrame(P_value)
P_value_Rank = pd.read_csv('./MLmodel/P_value_Rank' , sep=',' , header=None)
P_value_Rank
Rank =   14     

FeatureSelected_Fault1 = np.zeros((Rank,NoOfData))
FeatureSelected_Fault2 = np.zeros((Rank,NoOfData))


for i in range(Rank):
    
    index         = int(P_value_Rank.iloc[i,0])
    FeatureSelected_Fault1[i,:]   = FeatureData_Fault1_df.iloc[index,:].values
    FeatureSelected_Fault2[i,:] = FeatureData_Fault2_df.iloc[index,:].values

FeatureSelected = pd.DataFrame(np.concatenate([FeatureSelected_Fault1, FeatureSelected_Fault2] , axis=1)) 
FeatureSelected  = np.transpose(FeatureSelected)
print(FeatureSelected.shape)

(20, 14)

In [34]:
result= KNN_model_Final.score(FeatureSelected, TestData_Label)

print('[Performance of KNN model] \n')
print('Accuracy: {:.2f}%'.format(result*100))

[Performance of KNN model]

Accuracy: 100.00%